@charset "UTF-8";

@-moz-keyframes bodyBackgroundImgOpacity{
    0%{
        opacity : 0;
    }
    10%{
        opacity : 0.1;
    }
    20%{
        opacity : 0.2;
    }
    30%{
        opacity : 0.3;
    }
    40%{
        opacity : 0.4;
    }
    50%{
        opacity : 0.5;
    }
    60%{
        opacity : 0.6;
    }
    70%{
        opacity : 0.7;
    }
    80%{
        opacity : 0.8;
    }
    90%{
        opacity : 0.9;
    }
    100%{
        opacity : 1;
    }
}

@-webkit-keyframes bodyBackgroundImgOpacity{
    0%{
        opacity : 0;
    }
    10%{
        opacity : 0.1;
    }
    20%{
        opacity : 0.2;
    }
    30%{
        opacity : 0.3;
    }
    40%{
        opacity : 0.4;
    }
    50%{
        opacity : 0.5;
    }
    60%{
        opacity : 0.6;
    }
    70%{
        opacity : 0.7;
    }
    80%{
        opacity : 0.8;
    }
    90%{
        opacity : 0.9;
    }
    100%{
        opacity : 1;
    }
}

@keyframes bodyBackgroundImgOpacity{
    0%{
        opacity : 0;
    }
    10%{
        opacity : 0.1;
    }
    20%{
        opacity : 0.2;
    }
    30%{
        opacity : 0.3;
    }
    40%{
        opacity : 0.4;
    }
    50%{
        opacity : 0.5;
    }
    60%{
        opacity : 0.6;
    }
    70%{
        opacity : 0.7;
    }
    80%{
        opacity : 0.8;
    }
    90%{
        opacity : 0.9;
    }
    100%{
        opacity : 1;
    }
}

body::after{
    -webkit-animation-name: bodyBackgroundImgOpacity;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: inherit;

    -moz-animation-name: bodyBackgroundImgOpacity;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: inherit;

    animation-name: bodyBackgroundImgOpacity;
    animation-duration: 0.5s;
    animation-iteration-count: inherit;
}