@charset "UTF-8";

.customSelect {
	background-color: rgba(0, 170, 0, 0.8);
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 170, 0);
}

.customSelect:focus {
	background-color: rgba(0, 170, 0, 0.8);
	color: white;
}

.customSelect>option {
	background-color: rgba(0, 170, 0, 0.8);
	color: white;
}

.customSelect>option:checked {
	background-color: rgb(0, 170, 0);
}