@charset "UTF-8";

.form-group {
	transition: box-shadow 0.3s linear
}

.form-group:hover {
	-webkit-box-shadow: 0px 0px 20px green;
	-moz-box-shadow: 0px 0px 20px green;
	box-shadow: 0px 0px 20px green;
}

h2 {
	color: green;
}