@charset "UTF-8";

@import url("main.css");

@import url("util/centeredContainer.css");

@import url("util/backButton.css");

.container {
	background-color: rgba(255, 255, 255, 0.9) !important;
	-webkit-box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black;
	max-width: 1050px;
}

p {
	font-size: 1.5vw;
}

.pointsText {
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	border-bottom-color: rgba(81, 81, 81, 0.5);
}

.pointsText h2 {
	color: green;
	font-size: 3vw;
}