
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Strona domowa</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/bet.css" />
</head>
<body>
	<button id="backButton" onclick="onBackButtonClick()" type="button"
		class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div th:if="${operation} != null">
		<div id="successAlert"
			class="alert alert-success alert-dismissible fade show float-right"
			role="alert">
			<p th:if="${operation} == INSERTED">Pomyślnie zapisano</p>
			<p th:if="${operation} == UPDATED">Pomyślnie zaktualizowano</p>
			<button
				onclick="document.getElementById('successAlert').hidden = true;"
				type="button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div class="fixed-center position-fixed">
		<canvas id="canvasBubbles"></canvas>
	</div>
	<div
		class="container fixed-center position-fixed rounded shadow-lg p-3 mb-5 border border-success">
		<form
			th:if="${userBet?.value?.hometeamScore} == null and ${userBet?.value?.awayteamScore} == null"
			id="betMatchForm" name="betMatchForm" th:action="@{/bets/match/}"
			th:method="post">
			<div id="panel" class="pr-3 pl-3">
				<div class="row text-center typeResultText">
					<div class="col-11 mt-3 mb-1">Typuj wynik meczu</div>
				</div>
				<div id="wrongDataInInputs" class="alert alert-danger text-center"
					role="alert">Błędne dane w formularzu!</div>
				<div class="row mt-3">
					<div class="col-3">
						<div class="form-group float-left">
							<figure>
								<img class="img-fluid" />
								<div class="font-weight-bold" th:text="${match.hometeamName}"></div>
							</figure>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<input id="hometeamScore" type="number"
								class="form-control customNumberInput text-center" min="0"
								autofocus required>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<div class="result text-centered">:</div>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<input id="awayteamScore" type="number"
								class="form-control customNumberInput text-center" min="0"
								autofocus required>
						</div>
					</div>
					<div class="col-3">
						<div class="form-group float-right">
							<figure>
								<img class="img-fluid">
								<div class="font-weight-bold" th:text="${match.awayteamName}"></div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<button onclick="onBackButtonClick()" type="button"
				class="btn btn-outline-success mt-3">Wróć</button>
			<button th:if="${canYouBet}" id="forwardButton" type="button"
				class="btn btn-success float-right mt-3">Zapisz</button>
			<input hidden=true type="submit" class="btn btn-success"></input>
		</form>
		<form
			th:if="${userBet?.value?.hometeamScore} != null and ${userBet?.value?.awayteamScore} != null"
			id="betMatchForm" name="betMatchForm"
			th:action="@{/bets/match/update/}" th:method="post">
			<div id="panel" class="pr-3 pl-3">
				<div class="row text-center typeResultText">
					<div class="col-11 mt-3 mb-1">Typuj wynik meczu</div>
				</div>
				<div id="wrongDataInInputs" class="alert alert-danger text-center"
					role="alert">Błędne dane w formularzu!</div>
				<div class="row mt-3">
					<div class="col-3">
						<div class="form-group float-left">
							<figure>
								<img class="img-fluid" />
								<div class="font-weight-bold" th:text="${match.hometeamName}"></div>
							</figure>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<input id="hometeamScore" type="number"
								class="form-control customNumberInput text-center" min="0"
								autofocus required value="0">
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<div class="result text-centered">:</div>
						</div>
					</div>
					<div class="col-2">
						<div class="form-group">
							<input id="awayteamScore" type="number"
								class="form-control customNumberInput text-center" min="0"
								autofocus required value="0">
						</div>
					</div>
					<div class="col-3">
						<div class="form-group float-right">
							<figure>
								<img class="img-fluid">
								<div class="font-weight-bold" th:text="${match.awayteamName}"></div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<button onclick="onBackButtonClick()" type="button"
				class="btn btn-outline-success mt-3">Wróć</button>
			<button th:if="${canYouBet} and ${match.canBetMatch}"
				id="forwardButton" type="button"
				class="btn btn-success float-right mt-3">Zapisz</button>
			<input hidden=true type="submit" class="btn btn-success"></input>
			<button th:if="${!canYouBet}" type="button" id="statisticsButton"
				class="btn btn-success float-right mt-3" data-toggle="modal"
				data-target="#statisticsModal">
				Statystyki <i class="fas fa-chart-pie"></i>
			</button>
		</form>
		<p id="getMatchId" hidden=true th:text="${match.matchApiId}"></p>
		<p id="hometeamScoreFromDB" hidden=true
			th:text="${userBet?.value?.hometeamScore}"></p>
		<p id="awayteamScoreFromDB" hidden=true
			th:text="${userBet?.value?.awayteamScore}"></p>
	</div>

	<!-- MODAL -->
	<div class="modal fade" id="statisticsModal" tabindex="-1"
		role="dialog" aria-labelledby="statisticsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="statisticsModalLabel">Statystyki</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="mb-2">
						<h4 class="text-center">Dokładny wynik</h4>
						<canvas id="usersBetsChart"></canvas>
					</div>
					<div class="mb-2">
						<h4 class="text-center">Wygrana/Remis</h4>
						<canvas id="usersBetsWinDrawChart"></canvas>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success"
						data-dismiss="modal">Zamknij</button>
				</div>
			</div>
		</div>
		<th:block th:each="matchScoreByBetCount : ${matchScoresByBetCount}">
			<p class="matchScoreByBetCount" hidden=true
				th:text="${matchScoreByBetCount}"></p>
		</th:block>
		<th:block th:each="matchResultByBetCount : ${matchResultsByBetCount}">
			<p class="matchResultByBetCount" hidden=true
				th:text="${matchResultByBetCount}"></p>
		</th:block>
	</div>

	<script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script src="../../lib/chart/Chart.bundle.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/inject/injectFlagByTeamNameAndPage.js"></script>
	<script src="../../js/bet/onForwardButtonClick.js"></script>
	<script src="../../js/bet/onStatisticsButtonClick.js"></script>
	<script src="../../js/bet/onBackButtonClick.js"></script>
	<script src="../../js/bet/onLoad.js"></script>
	<script src="../../js/constant.js"></script>
	<script src="../../js/util.js"></script>
	<script src="../../js/events/betEvents.js"></script>
	<script src="../../js/events/events.js"></script>
	<script src="../../js/external/bubbles.js"></script>
</body>
</html>