<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Kto wyjdzie z grupy?</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/groupsWinners.css" />
</head>
<body>
	<canvas id="canvasBubbles"></canvas>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div id="successAlert"
		class="alert alert-success alert-dismissible fade show float-right"
		role="alert">
		<p></p>
		<button
			onclick="document.getElementById('successAlert').style.setProperty('visibility', 'hidden')"
			type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="container fixed-center position-fixed">
		<form id="groupsWinnersForm" name="groupsWinnersForm"
			th:action="@{/bets/groups}" th:method="post"
			class="shadow-lg p-3 mb-5 bg-white border border-success rounded">
			<fieldset>
				<h2 class="text-center p-3">Które drużyny wyjdą z grup?</h2>
				<div id="notAllTeamsSelectedAlert"
					class="alert alert-danger text-center" role="alert">Nie
					wszystkie miejsca zostaly wybrane!</div>
				<div class="formRow form-row pb-1 mb-3">
					<th:block
						th:each="teamsByGroupName, iterator : ${teamsByGroupName}">
						<div class="form-row col-6">
							<div class="userBetsData" hidden=true
								th:if="${not #lists.isEmpty(userBets)}">
								<p hidden=true class="firstPlaceData"
									th:text="${userBets[iterator.index].value.firstPlace}"></p>
								<p hidden=true class="secondPlaceData"
									th:text="${userBets[iterator.index].value.secondPlace}"></p>
							</div>
							<div class="firstPlace col-6">
								<p class="groupName" hidden=true
									th:text="${teamsByGroupName.key}"></p>
								<label class="float-right groupLabel">Grupa</label>
								<div class="form-group">
									<select class="form-control customSelect">
										<option hidden=true>Pierwsze miejsce</option>
										<th:block th:each="team : ${teamsByGroupName.value}">
											<option th:text="${team}"></option>
										</th:block>
									</select>
								</div>
							</div>
							<div class="secondPlace col-6">
								<p class="groupName" hidden=true
									th:text="${teamsByGroupName.key}"></p>
								<label class="float-left groupLabel"
									th:text="${#strings.replace(teamsByGroupName.key,'Group ','')}"></label>
								<div class="form-group">
									<select class="form-control customSelect">
										<option hidden=true>Drugie miejsce</option>
										<th:block th:each="team : ${teamsByGroupName.value}">
											<option th:text="${team}"></option>
										</th:block>
									</select>
								</div>
							</div>
						</div>
					</th:block>
				</div>
				<button onclick="location.href=location.origin" type="button"
					class="btn btn-outline-success float-left">Wróć</button>
				<button id="forwardButton" type="button"
					class="btn btn-success float-right">Zapisz</button>
			</fieldset>
		</form>
	</div>

	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/groupsWinners/onLoad.js"></script>
	<script src="../../js/groupsWinners/onForwardButtonClick.js"></script>
	<script src="../../js/events/groupsWinnersEvents.js"></script>
	<script src="../../js/events/events.js"></script>
	<script src="../../js/external/bubbles.js"></script>
</body>
</html>