<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Kto wyjdzie z grupy?</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/groupsWinners.css" />
</head>
<body>
	<div class="container fixed-center position-fixed">
		<form id="groupsWinnersForm"
			class="shadow-lg p-3 mb-5 bg-white border border-success rounded">
			<fieldset>
				<h2 class="text-center p-3">Kto wyjdzie z grupy A?</h2>

				<div class="form-row">
					<div class="col">
						<label for="firstPlaceSelect">Pierwsze miejsce</label>
						<div class="form-group">
							<select class="form-control customSelect" id="firstPlaceSelect">
								<option>Polska</option>
								<option>Niemcy</option>
								<option>Anglia</option>
								<option>Rosja</option>
							</select>
						</div>
					</div>
					<div class="col">
						<label for="secondPlaceSelect">Drugie miejsce</label>
						<div class="form-group">
							<select class="form-control customSelect" id="secondPlaceSelect">
								<option>Polska</option>
								<option>Niemcy</option>
								<option>Anglia</option>
								<option>Rosja</option>
							</select>
						</div>
					</div>
				</div>
				<div sec:authorize="isAuthenticated()"/>
                <div sec:authorize="isAnonymous()"/>
				<button type="submit" class="btn btn-success float-right">Dalej</button>
			</fieldset>
		</form>
	</div>

	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/events/events.js"></script>
</body>
</html>