<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Strona domowa</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/home.css" />
</head>
<body>
	<div class="container fixed-center position-fixed">
		<div class="row">
			<div id="leftPanel" class="col-8 rounded p-3 pb-3">
				<div class="pr-3 pl-3">
					<div class="row text-center dateRow">
						<div class="col-11 mt-3 mb-1">Dzisiejsze spotkania</div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">England</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="">
								<p class="font-weight-bold">Saudi Arabia</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Russia</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Spain</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Mexico</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">South Korea</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Belgium</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Poland</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div id="rightPanel" class="col-3 rounded p-3 pb-3">
				<button style="height: 15%;" type="button"
					class="btn btn-success btn-lg btn-block">
					Wyloguj <i class="fas fa-sign-out-alt"></i>
				</button>
			</div>
		</div>
	</div>

	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/inject/injectFlagByTeamNameAndPage.js"></script>
	<script src="../../js/events/homeEvents.js"></script>
	<script src="../../js/events/events.js"></script>
</body>
</html>