<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4"
	  xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Strona domowa</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/home.css" />
</head>
<body>
	<div class="container fixed-center position-fixed">
		<div class="row">
			<div id="leftPanel" class="col-8 rounded p-3 pb-3">
				<div class="pr-3 pl-3">
					<div class="row text-center dateRow">
						<div class="col-11 mt-3 mb-1">Dzisiejsze spotkania</div>
					</div>
                    <th:block th:each="match : ${todayMatches}">
                        <tr>
							<td th:text="${match.time}"/>
                            <td th:text="${match.hometeamName}"/>
                            <td th:text="${match.awayteamName}"/>
                        </tr>
                    </th:block>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Szwajcaria</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Korea Południowa</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Szwajcaria</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Korea Południowa</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Szwajcaria</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Korea Południowa</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
					<div class="row text-center pt-3">
						<div class="col-2 matchTime">12:00</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
								<p class="font-weight-bold">Szwajcaria</p>
							</figure>
						</div>
						<div class="result col-1">-:-</div>
						<div class="col-3">
							<figure>
								<img class="img-fluid"
									src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/240px-Flag_of_Germany.svg.png">
								<p class="font-weight-bold">Korea Południowa</p>
							</figure>
						</div>
						<div class="col-3"></div>
					</div>
				</div>
			</div>
			<div class="col-1"></div>
			<div id="rightPanel" class="col-3 rounded p-3 pb-3">
				<div sec:authorize="isAuthenticated()">
					<!--  https://stackoverflow.com/questions/22557741/logout-link-with-spring-and-thymeleaf -->
					<button style="height: 15%;" type="button"
						class="btn btn-success btn-lg btn-block">
						Wyloguj <i class="fas fa-sign-out-alt"></i>
					</button>

				<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
				<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
					<input hidden type="submit" value="Sign Out"/>
				</form>
				</div>

				<div sec:authorize="isAnonymous()">
					<a href="/login">Login</a> </br>
					<a href="/register">Register</a>
				</div>

				<div th:text="${regSuccess}" />
				<div th:text="${errorMsg}" />
			</div>
		</div>
	</div>

	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/events/events.js"></script>
</body>
</html>