<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Mecze</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/matches.css" />
</head>
<body>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div class="container fixed-center position-fixed rounded p-3 pb-3">
		<th:block th:each="matchesByDate : ${matchesByDates}">
			<div id="#accordionParent" role="tablist" aria-multiselectable="true">
				<div class="card">
					<p th:text="${matchesByDate.key}" hidden=true class="cardHeaderId"></p>
					<div class="card-header" role="tab">
						<h5 class="mb-0 dateRow">
							<a th:text="${matchesByDate.key}" data-toggle="collapse"
								data-parent="#accordionParent" aria-expanded="true"
								class="text-center"></a> <span
								th:text="${#lists.size(matchesByDate.value)}"
								class="badge badge-success float-right"></span>
						</h5>
					</div>
					<div class="collapse in" role="tabpanel">
						<th:block th:each="match : ${matchesByDate.value}">
							<div class="card-body matchRow">
								<div class="row ">
									<div th:text="${match.status}" class="col-1"></div>
									<div th:text="${match.time}" class="col-1"></div>
									<div class="col-1 hometeamFlag">
										<img class="teamFlag rounded">
									</div>
									<div th:text="${match.hometeamName}"
										class="col-2 text-right hometeamName"></div>
									<div class="col-1 text-center">:</div>
									<div th:text="${match.awayteamName}"
										class="col-2 text-left awayteamName"></div>
									<div class="col-1 awayteamFlag">
										<img class="teamFlag rounded">
									</div>
									<div class="col-3">
										<div sec:authorize="isAuthenticated()">
											<p hidden=true class="getMatchId"
												th:text="${match.matchApiId}"></p>
											<button type="button"
												th:onclick="'gotoMatchBetForm(' + ${match.matchApiId} + ')'"
												class="betMatchFormButton btn btn-outline-success btn-lg btn-block">
												<div th:if="${match?.canBetMatch}">
													Typuj <i class="fas fa-child"></i>
												</div>
												<div th:if="!${match?.canBetMatch}">Sprawdź</div>
											</button>
											<a th:id="'bet-' + ${match.matchApiId}" hidden=true
												th:href="@{/bet/} + ${match.matchApiId}">typ</a>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</th:block>
	</div>

	<script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/inject/injectFlagByTeamNameAndPage.js"></script>
	<script src="../../js/gotoMatchBetForm.js"></script>
	<script src="../../js/matches/onLoad.js"></script>
	<script src="../../js/events/events.js"></script>
	<script src="../../js/events/matchesEvents.js"></script>
</body>
</html>