<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Mecze</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/matches.css" />
</head>
<body>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div class="container fixed-center position-fixed rounded p-3 pb-3">
		<th:block th:each="matchesByDate : ${matchesByDates}">
			<div th:text=${matchesByDate}></div>
			<div id="#accordionParent" role="tablist" aria-multiselectable="true">
				<div class="card">
					<!-- Dodaj id="data" do "card-header" -->
					<p hidden=true class="cardHeaderId">add th:text</p>
					<div class="card-header" role="tab">
						<h5 class="mb-0">
							<!-- Dodaj href="#data-body" do "collapse" -->
							<!-- Dodaj aria-controls="data-body" do "collapse" -->
							<a data-toggle="collapse" data-parent="#accordionParent"
								aria-expanded="true"> Data </a>
						</h5>
					</div>
					<!-- Dodaj id="data-body" do "collapse in" -->
					<!-- Dodaj aria-labelledby="data" do "collapse in" -->
					<div class="collapse in" role="tabpanel">
						<div class="card-body">Mecze</div>
					</div>
				</div>
			</div>
		</th:block>
		<div class="pr-3 pl-3">
			<div class="row text-center dateRow">
				<div class="col-11 mt-3 mb-1">2018-06-14</div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center dateRow">
				<div class="col-11 mt-3 mb-1">2018-06-14</div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center dateRow">
				<div class="col-11 mt-3 mb-1">2018-06-14</div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Polska</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Kolumbia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Niemcy</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Anglia</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row text-center matchRow pt-1 pb-1">
				<div class="col-1">FT</div>
				<div class="col-2">12:00</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-1 text-right">Rosja</div>
				<div class="col-1">:</div>
				<div class="col-1 text-left">Korea Południowa</div>
				<div class="col-1">
					<img class="teamFlag rounded"
						src="https://www.worldatlas.com/webimage/flags/countrys/zzzflags/pllarge.gif">
				</div>
				<div class="col-4"></div>
			</div>
		</div>
	</div>

	<script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/events/events.js"></script>
</body>
</html>