<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Punktacja</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/points.css" />
</head>
<body>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div class="container fixed-center position-fixed rounded">
		<div class="row m-3">
			<div class="col-12">
				<div class="row text-center">
					<div class="pointsText col-11 mb-2">
						<h2>Punktacja</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">1 punkt</p>
					</div>
					<div class="col-10">
						<p>za prawidłowe obstawienie wygranej/przegranej/remis w
							wybranym meczu</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">2 punkty</p>
					</div>
					<div class="col-10">
						<p>za tą samą różnicę bramek między wytypowanym meczem, a
							rozegranym, z prawidłowo obstawionym zwycięzcą</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">4 punkty</p>
					</div>
					<div class="col-10">
						<p>za identyczny wynik meczu</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">10 punktów</p>
					</div>
					<div class="col-10">
						<p>za prawidłowe obstawienie zwycięzcy mistrzostw</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">3 punkty</p>
					</div>
					<div class="col-10">
						<p>za prawidłowe obstawienie zespołu, który wyjdzie z grupy</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">6 punkty</p>
					</div>
					<div class="col-10">
						<p>za prawidłowe obstawienie dwóch zespołów, które wyjdą z
							grupy</p>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-justify">
						<p class="text-center">3 punkty</p>
					</div>
					<div class="col-10">
						<p>za prawidłowe wytypowanie z jakiego miejsca zespół wyjdzie
							z grupy</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/events/events.js"></script>
</body>
</html>