<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Kto zwycięży?</title>
<link rel="stylesheet"
	href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/worldCupWinner.css" />
</head>
<body>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div class="container fixed-center position-fixed">
		<form id="worldCupWinnerForm" name="worldCupWinnerForm"
			class="shadow-lg p-3 mb-5 bg-white border border-success rounded"
			th:action="@{/bets/winner/}" method="post">
			<fieldset>
				<h2 class="text-center p-3">Kto podniesie puchar?</h2>
				<div id="notChosenTeamAlert" class="alert alert-danger text-center"
					role="alert">Najpierw wybierz zwycięzce!</div>
				<div class="list-group">
					<th:block th:each="team : ${teams}">
						<button type="button"
							class="list-group-item list-group-item-action text-center teamButton">
							<img class="listGroupItemFlag float-left rounded" />
							<div th:text="${team}"></div>
						</button>
					</th:block>
				</div>
				<button id="forwardButton" type="button"
					class="btn btn-success float-right mt-3">Dalej</button>
				<input hidden=true type="submit" class="btn btn-success"></input>
			</fieldset>
		</form>
	</div>

	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/inject/injectFlagByTeamNameAndPage.js"></script>
	<script src="../../js/worldCupWinner/onListGroupItemClick.js"></script>
	<script src="../../js/worldCupWinner/onForwardButtonClick.js"></script>
	<script src="../../js/constant.js"></script>
	<script src="../../js/events/events.js"></script>
	<script src="../../js/events/worldCupWinnerEvents.js"></script>
</body>
</html>