<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="../../img/favicon.ico" />
<title>Kto zwycięży?</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/lib/css/fontawesome-all.css" />
<link rel="stylesheet" href="../../css/worldCupWinner.css" />
</head>
<body>
	<canvas id="canvasBubbles"></canvas>
	<button id="backButton" onclick="location.href=location.origin"
		type="button" class="btn btn-outline-success">
		<i class="fas fa-arrow-left"></i>
	</button>
	<div th:if="${operation} != null">
		<div id="successAlert"
			class="alert alert-success alert-dismissible fade show float-right"
			role="alert">
			<p th:if="${operation} == INSERTED">Pomyślnie zapisano</p>
			<p th:if="${operation} == UPDATED">Pomyślnie zaktualizowano</p>
			<button
				onclick="document.getElementById('successAlert').hidden = true;"
				type="button" class="close" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div
		class="container fixed-center position-fixed shadow-lg p-3 mb-5 bg-white border border-success rounded">
		<h2 class="text-center p-3">Kto podniesie puchar?</h2>
		<button th:if="${userBet?.value?.winner} != null" id="yourTeamButton"
			type="button"
			class="list-group-item list-group-item-action text-center mb-3 rounded">
			<img class="listGroupItemFlag float-left rounded" />
			<div th:text="${userBet?.value?.winner}"></div>
		</button>
		<form th:if="${canYouBet} and ${userBet?.value?.winner} == null"
			id="worldCupWinnerForm" name="worldCupWinnerForm"
			th:action="@{/bets/winner/}" th:method="post">
			<fieldset>
				<div id="notChosenTeamAlert" class="alert alert-danger text-center"
					role="alert">Najpierw wybierz zwycięzce!</div>
				<div class="list-group">
					<th:block th:each="team : ${teams}">
						<button type="button"
							class="list-group-item list-group-item-action text-center teamButton rounded">
							<img class="listGroupItemFlag float-left rounded" />
							<div th:text="${team}"></div>
						</button>
					</th:block>
				</div>
				<button th:if="${canYouBet}" id="forwardButton" type="button"
					class="btn btn-success float-right mt-3">Zapisz</button>
				<button onclick="location.href=location.origin" type="button"
					class="btn btn-outline-success float-left mt-3">Wróć</button>
				<input hidden=true type="submit" class="btn btn-success"></input>
			</fieldset>
		</form>
		<form th:if="${canYouBet} and ${userBet?.value?.winner} != null"
			id="worldCupWinnerForm" name="worldCupWinnerForm"
			th:action="@{/bets/winner/update/}" th:method="post">
			<fieldset>
				<div id="notChosenTeamAlert" class="alert alert-danger text-center"
					role="alert">Najpierw wybierz zwycięzce!</div>
				<div class="list-group">
					<th:block th:each="team : ${teams}">
						<button type="button"
							class="list-group-item list-group-item-action text-center teamButton rounded">
							<img class="listGroupItemFlag float-left rounded" />
							<div th:text="${team}"></div>
						</button>
					</th:block>
				</div>
				<button th:if="${canYouBet}" id="forwardButton" type="button"
					class="btn btn-success float-right mt-3">Zapisz</button>
				<button onclick="location.href=location.origin" type="button"
					class="btn btn-outline-success float-left mt-3">Wróć</button>
				<input hidden=true type="submit" class="btn btn-success"></input>
			</fieldset>
		</form>
	</div>

	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
	<script src="../../js/inject/injectRandomBackground.js"></script>
	<script src="../../js/inject/injectFlagByTeamNameAndPage.js"></script>
	<script src="../../js/worldCupWinner/onListGroupItemClick.js"></script>
	<script src="../../js/worldCupWinner/onForwardButtonClick.js"></script>
	<script src="../../js/constant.js"></script>
	<script src="../../js/events/events.js"></script>
	<script src="../../js/events/worldCupWinnerEvents.js"></script>
	<script src="../../js/external/bubbles.js"></script>
</body>
</html>